{% extends "blog_base.html" %}
{% comment %}  
	右边栏、导航栏、分页栏
{% endcomment %}
{% block headbar %}
	<li>
       <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="active">
       <a href="{% url 'blog' %}">Blog</a>
    </li>
    <li>
       <a href="https://github.com/duxia?tab=repositories" target="_blank">Code</a>
    </li>
{% endblock %}

{% block blog_main %}
<div class="container">
	<div class="row">
		<!-- 主要内容行 -->
		<div class="col-md-9">
		{% block blogcontent %}
		
		{% endblock %}
		<!-- 分页  -->
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<ul class="pagination">
				{% if showFirstAndLast %}
				<div class="btn-group">
					<a type="button" class="btn btn-default" href="?page=1">首页</a>
				</div>
				{% endif %} 
				{% if articles.has_previous %}
				<div class="btn-group">
					<a type="button" class="btn btn-default" href="?page={{ articles.previous_page_number }}">上一页</a>
				</div>
				{% endif %} 
				{% for page in articles.paginator.page_range_pro %}
					<!-- 当前页 --> 
					{% ifequal page articles.number %}
					{% if showFirstAndLast %}
					<div class="btn-group">
						<a type="button" class="btn btn-primary" href="?page={{ page }}">{{ page }}</a>
					</div>
					{% endif %}
					<!-- 非当前页 -->
					{% else %}
					<div class="btn-group">
						<a type="button" class="btn btn-default" href="?page={{ page }}">{{ page }}</a>
					</div>
					{% endifequal %}
				{% endfor %} 
				{% if articles.has_next %}
				<div class="btn-group">
					<a type="button" class="btn btn-default" href="?page={{ articles.next_page_number }}">下一页</a>
				</div>
				{% endif %} 
				{% if showFirstAndLast %}
				<div class="btn-group">
					<a type="button" class="btn btn-default" href="?page={{ articles.paginator.num_pages }}">尾页</a>
				</div>
				{% endif %}
		</div>
		<div class="col-md-2"></div>
		</div>
		<!-- 侧边内容行 -->
		<div class="col-md-3">
			<div class="col-md-12">
				<form class="form-inline" role="form">
					<div class="input-group">
						<label class="sr-only" for="name">名称</label> 
						<input type="text" class="form-control" id="search">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">搜索</button>
						</span>
					</div>
				</form>
			</div>
			<hr>
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">博客公告</h4>
					</div>
					<div class="panel-body">
						<img src="/static/img/headicon.png" class="center-block img-responsive img-thumbnail">
						<p class="text-center">甜咖啡</p>
						<hr>
						<p>欢迎大家来到我的博客，和我交流你的心得，有任何问题欢迎大家加我QQ(226639265)讨论。</p>
					</div>
				</div>
			</div>
			<!-- 文章分类 -->
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">文章分类</h4>
					</div>
					<div class="panel-body">
						<ul class="list-group">
							{% for type in articletypes %}
                  			<li class="list-group-item">
                  				<a href="{% url 'showTag' type.typename %}">{{ type.typename }}</a>
                  				<span class="badge">{{ type.articleNums }}</span>
                  			</li>
                  			{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- 最新文章 -->
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">最新文章</h4>
					</div>
					<div class="panel-body">
						<ul class="list-group">
							{% for article in toparticlelist %}
                  			<li class="list-group-item"><a href="{% url 'showArticle' article.id %}">{{ article.title }}</a></li>
                  			{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- 阅读排行 -->
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">阅读排行</h4>
					</div>
					<div class="panel-body">
						<ul class="list-group">
							{% for article in topviewlist %}
                  			<li class="list-group-item">
                  				<a href="{% url 'showArticle' article.id %}">{{ article.title }}</a>
                  				<span class="badge"><span class="glyphicon glyphicon-eye-open"></span>{{ article.clicknums }}</span>
                  			</li>
                  			{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- 评论排行 -->
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">评论排行</h4>
					</div>
					<div class="panel-body">
						<ul class="list-group">
							{% for article in topcommentlist %}
                  			<li class="list-group-item">
                  				<a href="{% url 'showArticle' article.id %}">{{ article.title }}</a>
                  				<span class="badge"><span class="glyphicon glyphicon-comment"></span>{{ article.commentnums }}</span>
                  			</li>
                  			{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- 最新评论 -->
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">最新评论</h4>
					</div>
					<div class="panel-body">
						<ul class="list-group">
							{% for comment in recentcomments %}
                  			<li class="list-group-item">
                  				<p style="text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;">
	                  				<a href="{% url 'showArticle' comment.parentarticle__id %}">{{ comment.parentarticle__title }}</a>
	                  			</p>
	                  			<p style="text-overflow:ellipsis;overflow:hidden;height: 60px;word-wrap:break-word;">
	                  				<span class="label label-default">{{ comment.username }}</span>:<small>{{ comment.usercomment|safe }}</small>
	                  			</p>
                  			</li>
                  			{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}