<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>甜咖啡的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <style>
        .body{padding-top:70px}
      </style>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">甜咖啡</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="../home">Home</a>
            </li>
            <li class="active">
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">About me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="col-md-12" id="toplist">
            <ul id="article" class="list-group">
              <li class="list-group-item"><a href="#"> (顶)文章1</a></li>
              <li class="list-group-item">(顶)文章2</li>
              <li class="list-group-item">(顶)文章3</li>
              <li class="list-group-item">(顶)文章4</li>
              <li class="list-group-item">(顶)文章5</li>
              {% for article in articles %}
              <li class="list-group-item">
              <a href="{% url 'showArticle' article.id %}"><h2>{{ article.title }}</h2></a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-12"></div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <ul class="pagination">
              {% if showFirstAndLast %}
              <div class="btn-group">
              	<a type="button" class="btn btn-default" href="?page=1">首页</a>
              </div>
              {% endif %}
              {% if articles.has_previous %}
              <div class="btn-group">
                <a type="button" class="btn btn-default" href="?page={{ articles.previous_page_number }}">上一页</a>
              </div>
              {% endif %}
              
              {% for page in articles.paginator.page_range_pro %}
               {% ifequal page articles.number %}
               <div class="btn-group">
                <a type="button" class="btn btn-primary" href="?page={{ page }}">{{ page }}</a>
				</div>
			   {% else %}
			   <div class="btn-group">
                <a type="button" class="btn btn-default" href="?page={{ page }}">{{ page }}</a>
				</div>
               {% endifequal %}
              {% endfor %}
              
              {% if articles.has_next %}
				<div class="btn-group">
                <a type="button" class="btn btn-default" href="?page={{ articles.next_page_number }}">下一页</a>
				</div>
              {% endif %}
              {% if showFirstAndLast %}
				<div class="btn-group">
              	<a type="button" class="btn btn-default" href="?page={{ articles.paginator.num_pages }}">尾页</a>
				</div>
			  {% endif %}
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label class="sr-only" for="name">名称</label>
                <input type="text" class="form-control" id="search">
                <button type="submit" class="btn btn-primary btn-xs">搜索</button>
              </div>
            </form>
          </div>
          <hr>
          <div class="col-md-12" draggable="true">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">博客公告</h4>
              </div>
              <div class="panel-body">
                <p>这里是甜咖啡的博客，欢迎光临！</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">文章分类</h4>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">文章1</li>
                  <li class="list-group-item">文章2</li>
                  <li class="list-group-item">文章3</li>
                  {% for type in articletypes %}
                  <li class="list-group-item"><a href="{% url 'showTag' type.typename %}">{{ type.typename }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">最新文章</h4>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">新文章1</li>
                  <li class="list-group-item">新文章2</li>
                  <li class="list-group-item">新文章3</li>
                  {% for article in toparticlelist %}
                  <li class="list-group-item"><a href="{% url 'showArticle' article.id %}">{{ article.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12">待添加</div>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <div class="row text-center">
        <p>All right reserved@by sweety coffee. contact me:226639265@qq.com</p>
      </div>
    </footer>
  </body>

</html>