<!-- 登录框 -->
				<div class="ds-login-buttons">
					{% if loginuser %}
					<p>当前帐号:</p>
					<div class="ds-social-links" style="width: 128px;">
						<ul class="ds-service-list">
							<li>
								<p class="ds-more-services">{{ loginuser.username }}</p>
							</li>
							<li>
								<form method="post" onsubmit="return checklogout(this)">{% csrf_token %}
									<input type="hidden" name="userlogout" value="logout"></input>
									<button class="ds-more-services" type="submit">注销</button>
								</form>
							</li>
						</ul>
					</div>
					{% else %}
					<p>本站帐号:</p>
					<div class="ds-social-links" style="width: 128px;">
						<ul class="ds-service-list">
							<li>
								<a class="ds-more-services" data-toggle="modal" data-target="#loginmodel">登录</a>
							</li>
							<li>
								<a class="ds-more-services" data-toggle="modal" data-target="#registermodel">注册</a>
							</li>
						</ul>
					</div>
					<p>第三方帐号登录:</p>
					<div class="ds-social-links">
						<ul class="ds-service-list">
							<li>
								<span id="qqLoginBtn" ></span>
							</li>
						</ul>
					</div>
					{% endif %}
				</div>
				<!-- /.登录框 -->
					
					
				<!-- 评论回复框 -->
				<div class="ds-replybox">
					<a class="ds-avatar">
						{% if loginuser.avatar %}
						<img src="{{ loginuser.avatar }}"></img>
						{% else %}
						<img src="/static/img/default_usericon.gif"></img>
						{% endif %}
					</a>
					<form method="post" onsubmit="return checksubmit(this)">{% csrf_token %}
						<input type="hidden" name="article_id" value="{{ blog.id }}"></input>
						<input type="hidden" name="user_id" value="{{ loginuser.user_id }}"></input>
						<div class="ds-textarea-wrapper ds-rounded-top">
							<textarea name="message" id="saytext" class="saytext" placeholder="说点什么吧..."></textarea>
						</div>
						<div class="ds-post-toolbar">
							<div class="ds-post-options ds-gradient-bg">
								<span class="ds-sync"></span>
							</div>
							<button class="ds-post-button" type="submit" >发布</button>
							<div class="ds-toolbar-buttons">
								<a class="ds-toolbar-button ds-add-emote" title="插入表情" href="javascript:void(0)"></a>
							</div>
						</div>
					</form>
				</div>
				<!-- /.评论回复框 -->
				<script type="text/javascript">
				function insertreplybox(parent) {
					foot = $("#comments_id_"+parent).children("div.ds-comment-body").children("div.ds-comment-footer");
					if ($(foot).hasClass("ds-reply-active")) {
						$(foot).next().slideToggle(function(){
							$(this).remove();
						});//滑动隐藏后删除
						$(foot).removeClass("ds-reply-active");
					} else {
						var toinsert = '<div class="ds-replybox ds-inline-replybox" style="display:none;"><a class="ds-avatar">';
						{% if loginuser.avatar %}
						toinsert += '<img src="{{ loginuser.avatar }}"></img>';
						{% else %}
						toinsert += '<img src="/static/img/default_usericon.gif"></img>';
						{% endif %}
						toinsert += '</a><form method="post" onsubmit="return checksubmit(this)">';
						toinsert += "{% csrf_token %}";
						toinsert += '<input type="hidden" name="article_id" value="{{ blog.id }}"></input>';
						toinsert += '<input type="hidden" name="parent_id" value="'+parent+'"></input>';
						toinsert += '<input type="hidden" name="user_id" value="{{ loginuser.user_id }}"></input>';
						toinsert += '<div class="ds-textarea-wrapper ds-rounded-top"><textarea name="message" id="childsaytext" class="saytext" placeholder="说点什么吧..."></textarea></div><div class="ds-post-toolbar"><div class="ds-post-options ds-gradient-bg"><span class="ds-sync"></span></div><button class="ds-post-button" type="submit">发布</button><div class="ds-toolbar-buttons"><a class="ds-toolbar-button ds-add-emote" title="插入表情"></a></div></div></form></div>'; 
						$(".ds-reply-active").next().slideToggle(function(){
							$(this).remove();
						});//滑动隐藏后删除
						$(".ds-reply-active").removeClass("ds-reply-active");//删除之前添加的'回复'按钮的class
						$(foot).addClass("ds-reply-active");
						$(foot).after(toinsert);
						$(foot).next().slideToggle();
						$('.ds-add-emote').qqFace({//初始化表情框
							id : 'ds-smilies-tooltip', 
							assign:'childsaytext', 
							path:'/static/img/qqface/'	//表情存放的路径
						});
					}
				}
				</script>