div.zero-clipboard {display: block;position:relative;box-sizing: border-box;}
    
span.btn-clipboard {position: absolute;
top: 0;
right: 0;
z-index: 10;
display: block;
padding: 5px 8px;
font-size: 12px;
color: #767676;
cursor: pointer;
background-color: #fff;
border: 1px solid #e1e1e8;
border-top-color: rgb(225, 225, 232);
border-top-style: solid;
border-top-width: 1px;
border-radius: 0 4px 0 4px;}

span.btn-clipboard-hover{color:#fff;background-color:#563d7c;border-color:#563d7c;}

.navbar-brand{font-size: 28px;}

a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}


span.emotion{width:42px; height:20px; background:url(http://www.16code.com/cache/demos/user-say/img/icon.gif) no-repeat 2px 2px; padding-left:20px; cursor:pointer}
span.emotion:hover{background-position:2px -28px}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}

